body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #F5F3E9;
    ;
    //background-image: linear-gradient blue yellow;
  }


  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 39.3%;
    margin-bottom: 16px;
    padding: 0 10px;
  }

 

  
  .card {
    //box-shadow: 0 1px 25px 0 rgba(0, 0, 0, 0.943);
    margin: bottom;
    font-size: 20px;
   //background-color: rgb(173, 193, 192);
    grid-row: 0px;
    display: flex ;
    justify-content: space space-evenly;
    padding-left: 20px;
  }
  
  .aboutus {
    padding: 20px;
    font-size: 35px;
    text-align: center;
    background-color: #2A9D8F;
    color: rgb(0, 0, 0);
  }
  
  .container {
    //padding: 0 50px;
  }

  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
    font-size: 40px ;
  }
  
  .title {
    color: rgb(173, 19, 96);
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

.footer {
    position: botttom;
}