form {

    .gap {
        display: flex;
        gap: 20px;
      }
      textarea{
        margin-top: 15px;
        width:770px;
        height: 380px;
        border-radius: 10px;
        padding: 15px;
      }
      button{
        margin-left: 50px;
        width:150px;
        margin:15px;
    }

}

