.noteList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
  }

}

input{
  margin: 20px 0px;
  width: 50%;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #fff;
  border: none;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}