.note {
    padding: 20px;
    border: 1px solid gold;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    h2 {
        font-size: 1.5em;
        font-weight: bold;
    }
    p {
        font-style: italic;
    }
    ul {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
    }
    button {
        font-size: 1.5em;
        border: none;
        padding: 15px;
        margin-top: 15px;
        cursor: pointer;
        border-radius: 10px;
    }
    .deleteButton {
        display: flex;
        justify-content: end;
    }
}